.contact {
  padding: 3rem 2rem;
  background-color: #fcf9f3;
  text-align: center;
}

.contact h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #342020;
}

.contact p {
  margin: 0.5rem 0;
  font-family: 'Times New Roman', Times, serif;
  color: #342020;
  font-size: 1rem;
  line-height: 1.2;
}

#phone-no {
  font-family: 'Times New Roman', Times, serif;
}
